<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232531466808-kb2mrms9ctkbmjp79u29e8br98dlv1iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232531466808-kb2mrms9ctkbmjp79u29e8br98dlv1iu</string>
	<key>API_KEY</key>
	<string>AIzaSyB45CfkI24ImJKllAFq77FruunoOjyu97I</string>
	<key>GCM_SENDER_ID</key>
	<string>232531466808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bkav.valayenbai</string>
	<key>PROJECT_ID</key>
	<string>bluezone-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>bluezone-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232531466808:ios:e557e89a3b075178aa24cd</string>
	<key>DATABASE_URL</key>
	<string>https://bluezone-beta.firebaseio.com</string>
</dict>
</plist>
